/* Color Scheme */

/* 
https://color.adobe.com/PANTONE-18-3838-Ultra-Violet-color-theme-10410758/
*/

body {
    font-size: 16px;
}

.container {
    display: grid;

        /*  Define the size and number of columns in our grid. 
    The fr unit works similar to flex:
    fr columns will share the free space in the row in proportion to their value.
    We will have 2 columns - the first will be 3x the size of the second.  */
    grid-template-columns: 3fr 2fr;

        /*  Assign the grid areas we did earlier to specific places on the grid. 
        First row is all header.
        Second row is shared between main and sidebar.
        Last row is all footer.  */
    grid-template-areas:
    "header header"
	"main sidebar"
	"footer sidebar";

    /*  The gutters between each grid cell will be 60 pixels. */
    grid-gap: 0px;
}

div {
    text-align: center;
    color: #fff;
    width: 100%;
    box-sizing: border-box;
    padding: 0px;
}

.header {
    grid-area: header;
}

.homeImage {
/*    position: absolute;*/
    width: 100%;
    height: 220px;
}

.sidebar {
    grid-area: sidebar;
    background-color: /*#550df2;*/ #4d9900;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: lighter;
}


.main {
    color: #000;
    grid-area: main;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: lighter;
}

.footer {
    grid-area: footer;
    background-color: #4d0bda;
    height: 60px;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: lighter;
    
}

.navbar {
    position:fixed;
    font-family: 'Open Sans Condensed', sans-serif;
    text-align: center;
    font-size: 25px;
    padding: 5px;
    font-weight:bold;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    background-color: #4d9900
}
ul {
    display: flex;
    align-items: stretch; /* Default */
    justify-content: space-between;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
/*    border: 10px solid #e7e7e7;*/
    background-color:/* #14cc2d;*/#4d9900;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

li a {
    font-weight: bold;
    color: white;
    display: block;
    text-align: center;
    font-size: 25px;
    padding: 3px 0 5px 0;
    text-decoration: none;
    font-family: 'Open Sans Condensed', sans-serif;
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 1px;
    background-color: black;
    grid-column-gap: 5px;
    grid-row-gap: 5px;
}

.tocenter {
    position:absolute;
    top: 50%;
    left: 50%;
    width:30em;
    height:18em;
    margin-top: -9em; /*set to a negative number 1/2 of your height*/
    margin-left: -15em; /*set to a negative number 1/2 of your width*/
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: lighter;
   
}

.photos {
    height: 120px;
    width: 120px;
}

.mission {
    color: black;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: lighter;
    font-size:25px;
}

h2 {
    color: black;
    font-family: 'Open Sans Condensed', sans-serif;
}

.contact {
    color:black;
}